{% extends "layouts/base.html" %}
{ {% load static %}}
{% block content %}
    
    
    <h1 class="home"> Lukas - El Beabull </h1>
    <div class="about">
        <img 
        src="{% static '/images/lukasprincipal.JPG' %}" width="300">
        
        <div class="about-content" >
            <h3> Perrito en Oferta </h3>
            <p>
                
            <br>
            <br>
            Soy un Mix de Beagle con Bulldog Ingles
            <br>
            Tengo casi 9 años vivo en Illinos
            <br>
            Amo salir a caminar por las calles y olfatear cada rincon
            <br>
            Mi temporada del Año favorita es el Otoño
            <br>
            Adoro que me hagan juegos mentales y me den premios
            <br>
            
            </p>
        </div>        
        
    </div>
    
{% endblock %}
